<div class="container">
  <div class="row center-align">
    <div class="col s6 m12">
      <ul class="collection with-header center-align">
        <li (click)="soundTheNote(1)" class="collection-item" [ngClass]="colorDo" (mouseover)="colorDo='red lighten-3'" (mouseout)="colorDo='red'">Do</li>
        <li (click)="soundTheNote(2)" class="collection-item" [ngClass]="colorRe" (mouseover)="colorRe='green lighten-3'" (mouseout)="colorRe='green'">Re</li>
        <li (click)="soundTheNote(3)" class="collection-item" [ngClass]="colorMi" (mouseover)="colorMi='yellow lighten-3'" (mouseout)="colorMi='yellow'">Mi</li>
        <li (click)="soundTheNote(4)" class="collection-item" [ngClass]="colorFa" (mouseover)="colorFa='pink lighten-3'" (mouseout)="colorFa='pink'">Fa</li>
        <li (click)="soundTheNote(5)" class="collection-item" [ngClass]="colorSol" (mouseover)="colorSol='blue lighten-3'" (mouseout)="colorSol='blue'">Sol</li>
        <li (click)="soundTheNote(6)" class="collection-item" [ngClass]="colorLa" (mouseover)="colorLa='purple lighten-3'" (mouseout)="colorLa='purple'">La</li>
        <li (click)="soundTheNote(7)" class="collection-item" [ngClass]="colorSi" (mouseover)="colorSi='cyan lighten-3'" (mouseout)="colorSi='cyan'">Si</li>
      </ul>
    </div>
  </div>
</div>